<a href="https://colab.research.google.com/github/sharanya-singh/21CSS101J-PPS-INTRO-TO-PYTHON-CSBS/blob/day-1/RA22110420100006.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Basic

In [1]:
print ("Hello World")
print("3+2")
3+2

Hello World
3+2

5

square root of a number

In [3]:
num= 19
num_sqrt= num**0.5
print("The sqrt of 19 is", num_sqrt)

The sqrt of 19 is 4.358898943540674

Area of a *circle*

In [5]:
radius = 18;
pi = 3.14;

area_circle= pi * radius * radius;

print("area of circle given is",area_circle)

area of circle given is 1017.36

Circumference of Circle

In [6]:
radius= 23;
pi= 3.14;

circum_circle= 2 * pi * radius;

print("Circumference of circle is", circum_circle );

Circumference of circle is 144.44

Perimeter of triangle

In [7]:
a = 32;
b = 45;
c = 12;

perimter= a+b+c;

print("Perimeter is", perimter)

Perimeter is 89

Perimeter rectangle

In [8]:
l = 12
b = 34

peri= 2*(l+b)

print ("Perimeter of rectangle", peri)

Perimeter of rectangle 92

MY ***BESTFRIENDS***

In [10]:
Bestie1= 'Ritika'
Bestie2= 'Kavya'

print("BEST MATES IN CLASS",Bestie1,Bestie2)

BEST MATES IN CLASS Ritika Kavya

Area triangle

In [11]:
a = 5
b = 6
c = 7

s = (a+b+c)/2

area = (s*(s-a)*(s-b)*(s-c)) ** 0.5

print('The area of the triangle is %0.2f' %area)

The area of the triangle is 14.70

Odd or Even

In [12]:
num = int(input("Enter a number: "))
if (num % 2) == 0:
   print("{0} is Even".format(num))
else:
   print("{0} is Odd".format(num))

Enter a number: 3
3 is Odd

Largest of 3 numbers

In [13]:
num1 = 10
num2 = 14
num3 = 12

if (num1 >= num2) and (num1 >= num3):
   largest = num1
elif (num2 >= num1) and (num2 >= num3):
   largest = num2
else:
   largest = num3

print("The largest number is", largest)

The largest number is 14

Basic arithmetic operations

In [20]:
345627648+15342635748

15688263396

In [21]:
3.8791+23467.98

23471.859099999998

In [22]:
23%243

23

In [23]:
56/34

1.6470588235294117

In [30]:
from math import sin, cos, tan, pi

print(sin(pi/2))

print(cos(pi/6))
print(pi)
print(tan(pi/2))

1.0
0.8660254037844387
3.141592653589793
1.633123935319537e+16

In [33]:
from math import sin, cos, tan, pi

sum = (sin(pi/2))**2 + (cos(pi/2))**2

print(sum)

1.0

In [36]:
from math import sin, cos, tan, pi 
print(input("Enter a trignometric expression:"))

Enter a trignometric expression:sin(Pi)
sin(Pi)

# ***INPUTS***

In [49]:

age =int(input("Enter age"))  
print(age)

Enter age23
23